.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.letter {
    width: 30px;
    color: var(--color-text);
}

.percent {
    padding-left: 15px;
    width: 150px;
    /* text-align: end; */
    color: var(--color-text);
}

.progress {
    width: 90%;
    height: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
/* Фоновая часть (незаполненная) */
.progress::-webkit-progress-bar {
    background: var(--progress-background);
    border-radius: var(--progress-border-radius);
}

/* Заполненная часть */
.progress::-webkit-progress-value {
    background: var(--progress-bar-color);
    border-radius: var(--progress-border-radius);
}

/* Для Firefox */
.progress::-moz-progress-bar {
    background: var(--progress-bar-color);
    border-radius: var(--progress-border-radius);
}
