.btn {
    width: 125px;
    color: var(--color-text);
    margin-top: 1.25rem;
    border: none;
    display: flex;
    justify-content: space-around;
    gap: 0.25rem;
    align-items: flex-end;
    cursor: pointer;
    /* transition: 0.7s ease; */
}

.svg {
    width: 18px;
    height: 18px;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.svgRotate {
    transform: rotate(180deg);
}
