.card {
    min-width: 320px;
    min-height: 132px;
    background: var(--background-color);
    border-radius: 0.5rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-image: var(--custom-url);
    background-repeat: no-repeat;
    background-position: 100%;
}

.count {
    background: var(--color-bacground-transparent);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.title {
    background: var(--color-bacground-transparent);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
}
